.media-player {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 25px 1fr;
	height: 100%;
	background: #999;
}

.media-player button {
	border: none;
    background: none;
    box-shadow: none;
	color: inherit;
}

.media-player .button-fullscreen {
	height: 100%;
}

.media-player .button-fullscreen svg {
	height: 100%;
}

.media-player .button-fullscreen svg line {
	stroke-width: 2px;
    stroke-opacity: 0.25;
    stroke-dasharray: 0, 4;
    stroke-linecap: round;
}

.media-player .media-interface {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 30px 2fr;
}

.fullscreen .media-player .media-interface {
	grid-template-rows: 1fr 30px 2fr;
}

.media-player .media-art #display-artwork-ref {
	display: none;
}

.media-player .media-art #display-artwork {
	width: 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.media-player .media-display {
	display: grid;
	/* grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 25px;
	grid-template-areas:
		"meta meta"
		"time  time"; */
	width: 100%;
	flex:2;
	overflow: auto;
	text-align: center;
}

.media-player .media-display #display-artwork {
	/* grid-area: art; */
	background-color: transparent;
	background-position: center;
	background-size: cover; 
}

.media-player .media-display .button-search {
	border: none;
    float: right;
    margin: 0.25em 0.25em -0.5em 0;
    height: 2em;
    width: 2em;
}

.media-player .media-display .button-search svg {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.media-player .media-display #display-title {
	clear:right;
}

.media-player .media-display button {
	border-bottom: 1px dotted;
}

.media-player .media-time {
	/* grid-area: time; */
	display: flex;
	flex-direction: row;
	font-size: 30px;
	line-height: 45px;
	font-weight: normal;
}

.media-player .media-time > * {
	flex: 1;
	padding: 0 1em;
	display: none;
}

.media-player .media-time > *:last-child {
	text-align: right;
}

.media-player .media-time #display-remaining {
	display: initial;
	text-align: center;
}

.media-player .media-controls {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	flex:1;
}

.media-player .media-player-buttons {
	display: flex;
	width: 100%;
}

.media-player .media-player-buttons button {
	flex: 1;
	border: none;
	background: none;
	box-shadow: none;
	width: 100%;
	height: 100%;
}

.media-player .media-player-buttons button svg {
	fill-opacity: 0.65;
}

.media-player .media-player-buttons .progress-container {
	flex: 2;
	height: 100%;
	width: 100%;
	position: relative;
	/* aspect-ratio: 1; */
}

.media-player .media-player-buttons .progress-container .progress-bar {
	position: absolute;
	width: 100%;
	height: 100%;
	/* padding-bottom: 100%;
	top:50%;
	transform: translate(0, -50%); */
	/* padding-bottom: 50%;
	top: 50%;
	transform: translate(0, -50%); */
}

.media-player .media-player-buttons .progress-container .progress-bar svg { 
	position: absolute;
	display: block;
	margin: 0 5%;
	width: 90%;
	height: 100%;
}

.media-player .media-player-buttons .progress-container .progress-bar .circle, 
.media-player .media-player-buttons .progress-container .progress-bar .route {
	stroke: black;
	fill: none;
	stroke-width: 2px;
	stroke-linecap: round;
	stroke-opacity: 0.25;
	transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.media-player .media-player-buttons .progress-container .progress-bar .circle { 
	stroke-opacity: 0.9;
	stroke: white !important;
}

.media-player .media-player-buttons button#media-button-play,
.media-player .media-player-buttons button#media-button-pause {
	position: relative;
}

.media-player .media-player-buttons button#media-button-previous {
	text-align: right;
}

.media-player .media-player-buttons button#media-button-next {
	text-align: left;
}

.media-player .media-player-buttons button #icon-play,
.media-player .media-player-buttons button #icon-pause {
	width: 60%;
	height: 60%;
}

.media-player .media-player-buttons button #icon-previous,
.media-player .media-player-buttons button #icon-next {
	width: 50%;
	height: 50%;
}

.media-player .media-player-buttons button#media-button-pause,
.playing .media-player .media-player-buttons button#media-button-play {
	display: none;
}

.playing .media-player .media-player-buttons button#media-button-pause {
	display: initial;
}

.media-player .scrubber{
	width: 100%;
}

.media-player .fs-only
 {
	display: none;
}

.fullscreen .media-player .fs-only {
	display: initial;
}

.media-player .scrubber,
.media-player .volume {
	display: none !important;
}

@media (max-width: 768px) {

	.fullscreen .media-player {
		grid-template-rows: 25px 1fr 100vw;
	}

	.fullscreen .media-player .media-controls .volume,
	.fullscreen .media-player .media-controls .scrubber,
	.fullscreen .media-player .media-controls #media-button-reverse,
	.fullscreen .media-player .media-controls #media-button-forward {
		display: none;
	}

}

@media (max-width: 768px) and (orientation: landscape) {
	.fullscreen .media-player {
		grid-template-columns: 1fr 100vh;
		grid-template-rows: 25px 1fr;
	}

	.media-player > button {
		grid-column: 1 / 3;
	}

	.media-player .media-art #display-artwork {
		/* background-position: center left; */
	}
}