.media-player {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #999;
}

.media-player .media-display {
    width: 100%;
    flex:2;
}

.media-player .media-controls {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex:1;
}

.media-player .media-player-buttons {
    display: flex;
    width: 100%;
}

.media-player .media-player-buttons button {
    flex: 1;
}

.media-player .media-player-buttons button#media-button-pause,
.playing .media-player .media-player-buttons button#media-button-play {
    display: none;
}

.playing .media-player .media-player-buttons button#media-button-pause {
    display: initial;
}

.media-player .scrubber{
    width: 100%;
}

.media-player .fs-only
 {
    display: none;
}

.fullscreen .media-player .fs-only {
    display: block;
}