.media-player {
	display: grid;
	grid-template-columns: 25px 1fr;
    grid-template-rows: 1fr;
	height: 100%;
	background: #999;
}

.media-player button {
	border: none;
    background: none;
    box-shadow: none;
	color: inherit;
}

.media-player .button-fullscreen {
	height: 100%;
	grid-row: 1 /3;

	--pattern-size: 5vmin;

	background-image: repeating-linear-gradient(
      -45deg,
      rgba(255,255,255,0.1) 0 calc(var(--pattern-size) / 2),
      rgba(0,0,0,0.2) 0 var(--pattern-size)
    );
}

.media-player .button-fullscreen svg {
	height: 100%;
}

.media-player .button-fullscreen svg line {
	stroke-width: 2px;
    stroke-opacity: 0.25;
    stroke-dasharray: 0, 4;
    stroke-linecap: round;
}

.media-player .media-interface {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 30px 2fr;
}

.fullscreen .media-player .media-interface {
	grid-template-rows: 30px 2fr;
}

.media-player .media-art #display-artwork-ref {
	display: none;
}

.media-player .media-art #display-artwork {
	width: 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.media-player .media-display {
	/* display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 25px;
	grid-template-areas:
		"meta meta"
		"time  time"; */
	width: 100%;
	flex:2;
	overflow: auto;
	text-align: center;
	align-self: center;
}

.media-player .media-display #display-artwork {
	/* grid-area: art; */
	background-color: transparent;
	background-position: center;
	background-size: cover; 
}

.media-player .media-display .button-search {
	border: none;
    height: 1em;
    margin-right: -2.5em;
    margin-left: 0.5em;
}

.media-player .media-display .button-search svg {
	display: inline-block;
	width: 100%;
	height: 100%;
	transform: scale(1.5);
}

.media-player .media-display #display-title {
	clear:right;
}

.media-player .media-display button {
	border-bottom: 1px dotted;
}

.media-player .media-time {
	/* grid-area: time; */
	display: flex;
	flex-direction: row;
	font-size: 30px;
	line-height: 45px;
	font-weight: normal;
}

.media-player .media-time > * {
	flex: 1;
	padding: 0 1em;
	display: none;
}

.media-player .media-time > *:last-child {
	text-align: right;
}

.media-player .media-time #display-remaining {
	display: initial;
	text-align: center;
}

.media-player .media-controls {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	flex:1;
}

.media-player .media-player-buttons {
	display: flex;
	width: 100%;
}

.media-player .media-player-buttons button {
	flex: 1;
	border: none;
	background: none;
	box-shadow: none;
	width: 100%;
	height: 100%;
}

.media-player .media-player-buttons button svg {
	fill-opacity: 0.65;
}

.media-player .media-player-buttons .progress-container {
	flex: 2;
	height: 100%;
	width: 100%;
	position: relative;
	max-height: 140px;
    margin: auto;
	/* aspect-ratio: 1; */
}

.media-player .media-player-buttons .progress-container .progress-bar {
	position: absolute;
	width: 100%;
	height: 100%;
	/* padding-bottom: 100%;
	top:50%;
	transform: translate(0, -50%); */
	/* padding-bottom: 50%;
	top: 50%;
	transform: translate(0, -50%); */
}

.media-player .media-player-buttons .progress-container .progress-bar svg { 
	position: absolute;
	display: block;
	margin: 0 5%;
	width: 90%;
	height: 100%;
}

.media-player .media-player-buttons .progress-container .progress-bar .circle, 
.media-player .media-player-buttons .progress-container .progress-bar .route {
	stroke: black;
	fill: none;
	stroke-width: 2px;
	stroke-linecap: round;
	stroke-opacity: 0.25;
	transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.media-player .media-player-buttons .progress-container .progress-bar .circle { 
	stroke-opacity: 0.9;
	stroke: white !important;
}

.media-player .media-player-buttons button#media-button-play,
.media-player .media-player-buttons button#media-button-pause {
	position: relative;
}

.media-player #media-button-reverse,
.media-player #media-button-forward {
	display: none;
}

.media-player .media-player-buttons button#media-button-previous {
	text-align: right;
}

.media-player .media-player-buttons button#media-button-next {
	text-align: left;
}

.media-player .media-player-buttons button #icon-play,
.media-player .media-player-buttons button #icon-pause {
	width: 60%;
	height: 60%;
}

.media-player .media-player-buttons button #icon-previous,
.media-player .media-player-buttons button #icon-next {
	width: 50%;
	height: 50%;
}

.media-player .media-player-buttons button#media-button-pause,
.playing .media-player .media-player-buttons button#media-button-play {
	display: none;
}

.playing .media-player .media-player-buttons button#media-button-pause {
	display: initial;
}

.media-player .scrubber{
	width: 100%;
}

.media-player .fs-only
 {
	display: none;
}

.fullscreen .media-player .fs-only {
	display: initial;
}

.media-player .scrubber,
.media-player .volume {
	display: none !important;
}


.media-player .media-display,
.media-player .media-art {
	display: none;
}

.fullscreen .media-player .media-display,
.fullscreen .media-art {
	display: initial;
}

@media (min-width: 768px) {
	.fullscreen .media-player #media-button-reverse,
	.fullscreen .media-player #media-button-forward {
		display: initial;
	}
}


@media (max-height: 350px) {
	.fullscreen .media-player .media-display {
		display: none;
	}
}

@media (max-height: 550px) {
	.fullscreen .media-player .media-art {
		display: none;
	}
}

@media (min-width: 700px) and (max-height: 680px) {
	.fullscreen .media-player {
		grid-template-columns: 25px 100vh 1fr;
		grid-template-rows: 1fr;
	}

	.fullscreen .media-player > button {
		/* grid-column: 1 / 3; */
	}

	.fullscreen .media-player .media-art{
		display: initial;
	}

}

@media (min-width: 700px) and (min-height: 425px) and (max-height: 680px) {
	.fullscreen .media-player {
		grid-template-columns: 25px 1fr 1fr;
		grid-template-rows: 1fr;
	}

}

@media (min-height: 350px) {
	.fullscreen .media-player .media-interface {
		grid-template-rows: 1fr 30px 1fr;
	}
	
	.fullscreen .media-player .media-display{
		display: initial;
	}
}

@media (min-height: 550px) {
	.fullscreen .media-player .media-art{
		display: initial;
	}
}

@media (min-width: 700px) and (min-height: 350px) {
	.fullscreen .media-player .media-art{
		display: initial;
	}
}

@media (max-width: 699px) {

	.media-player {
		grid-template-columns: 1fr;
		grid-template-rows: 25px 1fr;
	}

	.fullscreen .media-player {
		grid-template-rows: 25px 1fr 1fr;
	}

	.media-player .button-fullscreen {
		grid-row: initial;
	}

}

@media (min-width: 700px) {

	.media-player .media-interface {
		grid-template-rows: 1fr 30px 1fr;
	}
}

@media (min-width: 700px) and (min-height: 350px) {

	.media-player .media-display {
		display: initial;
	}
}

@media (min-width: 700px) and (min-height: 550px) {

	.media-player {
		grid-template-rows: calc(33vw - 25px) 1fr;
	}

	.media-player .media-art {
		display: initial;
	}
}