.panel {
	display: none;
	border: none;
	overflow-x: hidden;
	overflow-y: auto;
}

.active {
	display: block;
}

ul li button span {
	float: right;
}


.search #search-form {
	display: flex;
	width: 100%;
	margin: 0;
}

.search #search-query {
	flex: 1;
    padding: 1em 1.5em;
	border: solid 1px var(--theme-color-md);
}

.search h2{
	display: flex;
    width: 100%;
    padding: 0.5em 1em;
    font-size: 1.25em;
	line-height: 1;
    background: var(--theme-color-bg);
    border-bottom: solid 1px var(--theme-color-md);
}

.search #search-submit {
    padding: 1em 1.5em;
	background: var(--accent-color-md);
	color: var(--theme-color-lt);
	text-transform: uppercase;
	border: solid 1px var(--theme-color-md);
	border-radius: 0;
}

.search h2.song-group {
	padding: 0;
	border-top: solid 1px var(--theme-color-md);
}

.search h2.song-group span {
	flex: 1;
	padding: 0.5em 1em;
}

.search h2.song-group button {
	flex: 0;
    font-size: 1rem;
    font-weight: normal;
    padding: 0.5em 1em;
    white-space: nowrap;
	background: var(--accent-color-md);
	color: var(--theme-color-lt);
	text-transform: uppercase;
	border: solid 1px var(--theme-color-md);
	border-radius: 0;
}

.playlists ul li button span {
	font-style: oblique;
	color: var(--theme-color-md);
}

.queue navigation button {
	width: auto;
	padding: 0.5em 1em;
	background: transparent;
	border: none;
}

.queue navigation button svg {
	height: 25px;
}

.queue ul li button svg {
	height: 1.5em;
	width: 1.5em;
	fill: var(--theme-color-md);
	stroke: var(--theme-color-md);
	transform: rotate(45deg);
}

.settings.active {
	display: flex;
    flex-direction: column;
}

.settings h2 {
	text-align: center;
	margin-top: 1em;
}

.settings form {
	display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 1em 0em;
    width: 80%;
    margin: 1em auto;
}

.settings form input {
	padding: 1em 1.5em;
}

.settings form input[type="submit"] {
	background: var(--accent-color-md);
	color: var(--theme-color-lt);
	text-transform: uppercase;
	border: solid 1px var(--theme-color-md);
	border-radius: 0;
}

.settings .update-sw {
	width: 80%;
	margin: auto;
	padding: 1em 1.5em;
	background: #732626;
	color: var(--theme-color-lt);
	text-transform: uppercase;
	border: solid 1px var(--theme-color-md);
	border-radius: 0;
}