@import url(_reset.css);
@import url(_layout.css);
@import url(_panel.css);
@import url(_navigation.css);
@import url(_mediaplayer.css);

:root {
    --phone: 480px;
    --tablet: 768px;
    --desktop: 1024px;
}


  /* @media (max-width: var(--phone)) {

  }
  
  @media (min-width: var(--phone)) and (max-width: var(--tablet)) {

  }
  
  @media (min-width: var(--desktop)) {

  } */