@import url(_reset.css);
@import url(_layout.css);
@import url(_panel.css);
@import url(_navigation.css);
@import url(_mediaplayer.css);

:root {
  --theme-bg: #ffffff;
  --theme-fg: #000000;
	--theme-color-lt: #f4f4f9;
  --theme-color-md: #929299;
  --theme-color-dk: #292933;

  --accent-color-lt: #e0e0eb;
  --accent-color-md: #7bb951;
}